html, body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}
.btn.btn-primary {
    background-color: #eedb00;
    color: black;
    border:0;
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 0;
}

.button-row{
    text-align: center;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0;
}

.title-row {
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-bottom: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-default {
    background-color: #0d3349;
    border-radius: 0;
    height: 60px;
}

.navbar-default .navbar-brand,
.navbar-default .nav > li > a {
    color: white;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:hover{
    color: #e1daea;
}

.footer {
    bottom:0;
    position: absolute;
    background-color: #0f0f0f;
    width: 100%;
}

.title-line { 
    width: 100%; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em; 
    margin: 10px 0 20px; 
} 

.title-line span { 
    background: #fff; 
    padding: 0 10px; 
}

.form-control,
.form-control:focus {
    box-shadow: none;
    background-color: #f5f5f5;
    border-color: transparent;
}

.form-control:focus {
    border-color: #eee;
    border-width: 3px;
    background-color: #f7f7f7;
}

select::-ms-expand {
    width: 12px;
    border: none;
    background: #fff;
}

.btn-submit {
    background-color: #fece0e !important;
    margin-top: 20px;
}

.no-padding {
    padding: 0 !important;
    margin-top: 20px;
}

.add-padding {
    margin-left: 20px;
    width: 94%;
}

.price {
    text-align: right;
    font-weight: bold;
}

.col-logo {
    padding-left: 40px;
}

.col-logo-itb {
    padding-top: 7px;
}

.navbar-right {
    margin-right: 0px;
    margin-top: 5px;
}

.row-top {
    height: 30px;
}

.alert {
    margin: 0 0 20px 10px;
    height: 40px;
    padding-top: 10px; 
}

.table {
    width: 96%;
    margin-left: 30px;
}

.icon-delete {
    color: #c3020f !important;
}

td > a {
    padding-right: 10px;
}

thead {
    background-color: #e2edef !important;
}

.loading {
    position: absolute;
    top: 70px;
}

.progress {
    margin-bottom: 0;
}