<div class="col-md-6 col-md-offset-3">
    <div class="row title-row">
        Tambah staff
    </div>
    <div class="row">
        <input type="text" class="form-control" ng-model="email" placeholder="email"/>
    </div>
    <div class="row">
        <input type="password" class="form-control" ng-model="password" placeholder="password"/>
    </div>
    <div class="row">
        <select ng-options="toll as toll.name for toll in tolls track by source.id" ng-model="tollId"
                class="form-control">
        </select>
    </div>
    <div class="row button-row">
        <button type="button" class="btn btn-primary"
                ng-click="addUser(email,password,tollId)" ng-disabled="disableSubmitButton">Tambah</button>
    </div>
</div>