<div class="col-md-12" ng-init="init()">
    <div class="row title-row">
        Daftar petugas
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Email</th>
                    <th>Gerbang Tol</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="staff in staffs">
                    <td>{{$index}}</td>
                    <td>{{staff.email}}</td>
                    <td>{{staff.toll_gate}}</td>
                    <td>
                        <a>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
