<div class="col-md-12" ng-init="init()">
<form>
    <div class="row row-top">

    </div>
    <div class="row alert alert-success" role="alert">
        <strong>#454544</strong> submitted successfully.
    </div>
    <div class="row title-row title-line">
        <span>
            #454545
        </span>
    </div>
    <div class="col-md-7">
        <img src="/img/plat.png" width="100%"/>
    </div>
    <div class="col-md-5">
        <div class="row">
            <select ng-options="source as source.name for source in sourceTolls track by source.id" ng-model="sourceToll"
            class="form-control" ng-change="updatePrice()">
            </select>
        </div>
        <div class="row">
            <select ng-options="cat as cat.name for cat in vehicleCategories track by cat.id" ng-model="vehicleCategory"
            class="form-control" ng-change="updatePrice()" placeholder="Golongan">
                <option selected="selected">Select Your Beverage</option>
            </select>
        </div>
        <div class="row">
            <input type="text" ng-model="plate_no" class="form-control" placeholder="Plat Nomor"/>
        </div>
        <div class="row">
            <div class="col-md-4 no-padding">Total</div>
            <div class="col-md-8 no-padding price">
                <span class="pull-right" ng-bind="price"></span>
            </div>
        </div>
        <div class="row button-row">
            <button class="btn btn-primary btn-submit" ng-click="submit(plateNo,sourceToll.id,destTollId)" ng-disabled="disableSubmitButton">Submit</button>
        </div>
    </div>
</form>
</div>