<div class="col-md-12">
<form>
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <select ng-options="source as source.name for source in sourceTolls track by source.id" ng-model="sourceTollId">
            </select>
        </div>
        <div class="row">
            <select ng-options="cat as cat.name for cat in vehicleCategories track by cat.id" ng-model="vehicleCategoryId">
            </select>
        </div>
        <div class="row">
            <input type="text" ng-model="plate_no"/>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <button class="btn btn-primary" ng-click="submit(plateNo,sourceTollId,destTollId,price)">Submit</button>
        </div>
    </div>
</form>
</div>